* {
  box-sizing: border-box;
}
body {
  font-style: serif;
  font-size: 14px;
  line-height: 1.25;
  color: #777;
}

li {
  font-style: italic;
}

.header {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-family: "Cormorant Infant", serif;
  color: black;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

.double-line {
  line-height: 2.5;
}

.mail-box {
  width: 150px;
  background-color: #e3fff6;
  border: 5px, solid, #c2e4c2;
  padding: 5px 20px 5px 20px;
  display: flex;
  overflow-wrap: anywhere;
}

.ruler {
  width: 150px;
  background-color: lime;
  text-align: center;
}

p {
  text-align: justify;
  font-family: "Playwrite GB S", serif;
}
.our-adv {
  background-image: url("http://picsum.photos/id/357/700/400?blur=5");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;

  padding: 30px 0px 60px 0px;

  color: white;
  font-size: 16px;
}

h2 {
  padding: 60px 0px 0px 0px;
}
